encryption = "age"

[edit]
  command = "nvim"

[git]
    autoCommit = true
    autoPush = true

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1ug3skp3allpexfl377qsyzu9swjew5am93qd57f3sr4qtz7j0avssv2a89"

